.header__lang-item {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}
.header__lang-item:hover {
    opacity: .8;
}

@media screen and (max-width: 320px) {
    .header__lang-item {
       font-size: 18px;
       line-height: 20px;
    }
}