.places {
    margin: 0 auto;
    padding: 92px 0;
    max-width: 984px;
}
    
@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 96px);
        padding: 90px 0 93px 0;
    }
}
    
@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 48px);
        padding-bottom: 95px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 48px);
        padding-bottom: 95px;
    }
}

@media screen and (max-width: 380px) {
    .places {
        width: 100%;
        padding: 65px 0 63px 0;
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        padding: 65px 0 63px 0;
    }
}
    