.header__lang-item_active {
    text-decoration-line: underline;
}

/* @media screen and (max-width: 320px) {
    .header__lang-item_active {
        font-size: 18px;
        line-height: 20px;
    }
} */