.header__lang-item_active {
    width: 36px;
    height: 28px;
    text-decoration-line: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-item_active {
        font-size: 18px;
        line-height: 20px;
        width: 22px;
        height: 20px;
    }
}